extends layout

block content
  h1= title
  p Welcome to #{title}
  #scrollMe
    img(src= "/public/images/1.jpg")
    img(src= "/public/images/2.jpg")
    img(src= "/public/images/3.jpg")
    img(src= "/public/images/4.jpg")
    img(src= "/public/images/5.jpg")
    img(src= "/public/images/6.jpg")
    img(src= "/public/images/7.jpg")
    img(src= "/public/images/8.jpg")
    img(src= "/public/images/9.jpg")
    img(src= "/public/images/10.jpg")
    img(src= "/public/images/11.jpg")
    