extends layout

block content
    #nav
      ul
        li
          a(href='index.jade') Wiqo
        li
          a(href='albums.jade') Albums
        li
          a(href='hire.jade') Hire
        
                
    #scrollMe
    
    img.showcase-image(src= "/images/Milestones/1.jpg")
    
    div.description
        h1 Milestones Bar and Grill
        p This paragraph talks about the above photo. And here are some more pics of the same. 
    
    img.inline-image(src= "/images/Milestones/4.jpg")
    img.inline-image(src= "/images/Milestones/5.jpg")
    
    
    img.showcase-image(src= "/images/Milestones/2.jpg")
    
    
    Scene Scene 2
    
    
    img.showcase-image(src= "/images/Spencer/1.jpg")
    div.description
        h1 Spencer & Kyle
        p Did photoshoot blabla
    
    img.inline-image(src= "/images/Spencer/2.jpg")
    img.inline-image(src= "/images/Spencer/3.jpg")
    img.showcase-image(src= "/images/Spencer/4.jpg")
    
    
        
    
    
    
    
