extends layout

block content
  #scrollMe
    img.showcase-image(src= "/images/1.jpg")
    img.showcase-image(src= "/images/2.jpg")
    img.showcase-image(src= "/images/3.jpg")
    img.showcase-image(src= "/images/4.jpg")
    img.showcase-image(src= "/images/5.jpg")
    img.showcase-image(src= "/images/6.jpg")
    img.showcase-image(src= "/images/7.jpg")
    img.showcase-image(src= "/images/8.jpg")
    img.showcase-image(src= "/images/9.jpg")
    img.showcase-image(src= "/images/10.jpg")
    img.showcase-image(src= "/images/11.jpg")
    